{% extends 'base.html' %}
{% block content %}
    {% load countries %}
    <div class="container">
        <div class="user-info">
            <img src="{{ user.profile.image }}" class="user-image" id="user-photo" alt="">
            <h3>Name: <span id="user-name">{{ user.profile.full_name }}</span> </h3>
            <h3>E-mail: <span id="user-email">{{ user.profile.email }}</span> </h3>
            <h3>Country: <span id="user-country">{{ user.profile.country.name }}</span></h3>
            <h3>Rating: <span id="user-rating">4</span></h3>
            <h3>Bio: <span id="user-country">{{ user.profile.bio }}</span></h3>
            <form method="get" action="/user/editprofile">
                <button type="submit" value="Edit" class="edit-button">Edit</button>
            </form>
        </div>
    </div>
{% endblock %}