{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="user-info">
            <img src="https://cdn5.vectorstock.com/i/thumb-large/45/79/male-avatar-profile-picture-silhouette-light-vector-4684579.jpg" class="user-image" id="user-photo">
            <h2>Name: <span id="user-name">Your Name</span> </h2>
            <h2>Country: <span id="user-country">Country</span></h2>
            <h2>Rating: <span id="user-country">4</span></h2>
            <h2>Bio: <span id="user-country">THIS IS MY BIO IT IS VERY LONG THIS IS MY BIO IT IS VERY LONG THIS IS MY BIO IT IS VERY LONG THIS IS MY BIO IT IS VERY LONG THIS IS MY BIO IT IS VERY LONG</span></h2>
            <input type="button" value="Edit" class="edit-button">
        </div>
        <div class="logout">
            <input type="button" value="Logout" class="logout-button">
        </div>
    </div>
{% endblock %}