{% extends 'base.html' %}
{% block content %}
    <div class="big-image">
        <img src="https://d27jswm5an3efw.cloudfront.net/app/uploads/2019/07/insert-image-html.jpg" class="detail-image1" id="detail-image" alt="">
    </div>
    <div class="smaller-image">
        <img src="https://d27jswm5an3efw.cloudfront.net/app/uploads/2019/07/insert-image-html.jpg" class="detail-image2" id="detail-image" alt="">
        <img src="https://d27jswm5an3efw.cloudfront.net/app/uploads/2019/07/insert-image-html.jpg" class="detail-image2" id="detail-image" alt="">
        <img src="https://d27jswm5an3efw.cloudfront.net/app/uploads/2019/07/insert-image-html.jpg" class="detail-image2" id="detail-image" alt="">
        <img src="https://d27jswm5an3efw.cloudfront.net/app/uploads/2019/07/insert-image-html.jpg" class="detail-image2" id="detail-image" alt="">
    </div>
{% endblock %}
