{% extends 'base.html' %}
{% block content %}
    <div class="image-detail">
        <div class="detail-image1">
            <img src="{{ item.main_image }}" class="detail-image1"/>
        </div>
        <div class="smaller-image">
            <img src="{{ item.image2 }}" class="detail-image2">
            <img src="{{ item.image3 }}" class="detail-image2" id="detail-image3" alt="">
            <img src="{{ item.image4 }}" class="detail-image2" id="detail-image4" alt="">
            <img src="{{ item.image5 }}" class="detail-image2" id="detail-image5" alt="">
        </div>
    </div>
    <div class="product-text">
        <h3>Product:<span>{{ item.itemname }}</span></h3>
        <h3>Condition:<span>{{ item.condition }}</span></h3>
        <span> {{ item.description }}</span>
    </div>
    <div class="highest-offer">
        <h3>Highest offer: $<span>{{ item.highest_bid }}</span></h3>
    </div>
        {% if item.sold == False %}
            <form class="form form-horizontal" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Make offer"/>
            </form>
        {% else %}
            <div class="product-offers">
                    <h3>Product has been sold for $<span id="product-price">{{ item.highest_bid }}</span></h3>
                </div>
        {% endif %}
{% endblock %}
