{% extends 'base.html' %}
{% block content %}
    <div class="image-detail">
        <div class="big-image">
            <img src={{ item.main_image }} class="detail-image1" id="detail-image1" alt="">
        </div>
        <div class="smaller-image">
            <img src="https://d27jswm5an3efw.cloudfront.net/app/uploads/2019/07/insert-image-html.jpg" class="detail-image2" id="detail-image2" alt="">
            <img src="https://d27jswm5an3efw.cloudfront.net/app/uploads/2019/07/insert-image-html.jpg" class="detail-image2" id="detail-image3" alt="">
            <img src="https://d27jswm5an3efw.cloudfront.net/app/uploads/2019/07/insert-image-html.jpg" class="detail-image2" id="detail-image4" alt="">
            <img src="https://d27jswm5an3efw.cloudfront.net/app/uploads/2019/07/insert-image-html.jpg" class="detail-image2" id="detail-image5" alt="">
        </div>
    </div>
    <div class="product-text">
        <h3>Product:<span> Something</span></h3>
        <h3>Condition:<span> Something</span></h3>
        <span> LONG DESCRIPTION LONG DESCRIPTION LONG DESCRIPTION LONG DESCRIPTION LONG DESCRIPTION LONG DESCRIPTION</span>
    </div>
    <div class="highest-offer">
        <h3>Highest offer: $<span>100</span></h3>
    </div>
    <form>
        <input type="text" value="$" id="new-offer">
        <input type="submit" value="Make offer" id="make-offer">
    </form>
    <div class="similar-products">
        <p>Similar products:</p>
        <img src="https://d27jswm5an3efw.cloudfront.net/app/uploads/2019/07/insert-image-html.jpg" class="similar-img" id="similar-img1">
        <img src="https://d27jswm5an3efw.cloudfront.net/app/uploads/2019/07/insert-image-html.jpg" class="similar-img" id="similar-img2">
        <img src="https://d27jswm5an3efw.cloudfront.net/app/uploads/2019/07/insert-image-html.jpg" class="similar-img" id="similar-img3">
        <img src="https://d27jswm5an3efw.cloudfront.net/app/uploads/2019/07/insert-image-html.jpg" class="similar-img" id="similar-img4">
        <img src="https://d27jswm5an3efw.cloudfront.net/app/uploads/2019/07/insert-image-html.jpg" class="similar-img" id="similar-img5">
        <img src="https://d27jswm5an3efw.cloudfront.net/app/uploads/2019/07/insert-image-html.jpg" class="similar-img" id="similar-img6">
    </div>
{% endblock %}
