{% extends 'base.html' %}
{% block content %}
    <div class="form-group">
        <form class="form form-horizontal" action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>

{% endblock %}

<!--<ul>First name:</ul>
        <input type="text" class="edit-info" id="first-name">
        <ul>Last name:</ul>
        <input type="text" class="edit-info" id="last-name">
        <ul>E-mail:</ul>
        <input type="text" class="edit-info" id="new-email">
        <ul>Country:</ul>
        <input type="text" class="edit-info" id="new-email">
        <ul>Bio:</ul>
        <textarea class="bio" name="bio-description" id="new-bio"></textarea>
        <p><input type="file"  accept="image/*" name="image" id="file-profile"  onchange="loadFileProfile(event)" style="display: none;"></p>
        <p><label for="file-profile" style="cursor: pointer;">Upload profile image</label></p>
        <img class="upload-profile" id="output-profile" width="100" />
        <input type="submit" value="Confirm" class="confirm-button">-->