{% extends 'base.html' %}
{% block content %}
    <div class="suggested">
        <p>Suggested items:</p>
        <div class="item">
            <img src="https://d27jswm5an3efw.cloudfront.net/app/uploads/2019/07/insert-image-html.jpg" class="sug-img">
            <ul>this text should be beneath the image</ul>
            <ul>this text should be beneath the image</ul>
            <ul>this text should be beneath the image</ul>
        </div>
        <div class="item">
            <img src="https://d27jswm5an3efw.cloudfront.net/app/uploads/2019/07/insert-image-html.jpg" class="sug-img">
            <ul>this text should be beneath the image</ul>
            <ul>this text should be beneath the image</ul>
            <ul>this text should be beneath the image</ul>
        </div>
        <div class="item">
            <img src="https://d27jswm5an3efw.cloudfront.net/app/uploads/2019/07/insert-image-html.jpg" class="sug-img">
            <ul>this text should be beneath the image</ul>
            <ul>this text should be beneath the image</ul>
            <ul>this text should be beneath the image</ul>
        </div>
        <div class="item">
            <img src="https://d27jswm5an3efw.cloudfront.net/app/uploads/2019/07/insert-image-html.jpg" class="sug-img">
            <ul>this text should be beneath the image</ul>
            <ul>this text should be beneath the image</ul>
            <ul>this text should be beneath the image</ul>
        </div>
        <div class="item">
            <img src="https://d27jswm5an3efw.cloudfront.net/app/uploads/2019/07/insert-image-html.jpg" class="sug-img">
            <ul>this text should be beneath the image</ul>
            <ul>this text should be beneath the image</ul>
            <ul>this text should be beneath the image</ul>
        </div>
        <div class="item">
            <img src="https://d27jswm5an3efw.cloudfront.net/app/uploads/2019/07/insert-image-html.jpg" class="sug-img">
            <ul>this text should be beneath the image</ul>
            <ul>this text should be beneath the image</ul>
            <ul>this text should be beneath the image</ul>
        </div>
        <div class="item">
            <img src="https://d27jswm5an3efw.cloudfront.net/app/uploads/2019/07/insert-image-html.jpg" class="sug-img">
            <ul>this text should be beneath the image</ul>
            <ul>this text should be beneath the image</ul>
            <ul>this text should be beneath the image</ul>
        </div>
        <div class="item">
            <img src="https://d27jswm5an3efw.cloudfront.net/app/uploads/2019/07/insert-image-html.jpg" class="sug-img">
            <ul>this text should be beneath the image</ul>
            <ul>this text should be beneath the image</ul>
            <ul>this text should be beneath the image</ul>
        </div>
    </div>
{% endblock %}