{% extends 'base.html' %}
{% block content %}
    <div class="suggested">
        <p>Suggested items:</p>
        {% for item in frontpage_suggested %}
            <div class="item">
                <img src="{{ item.image }}" class="sug-img" alt="" id={{ item.id }}, onclick="location.href='itemdetail/{{ item.id }}/'">
                <ul>{{ item.name }}</ul>
                <ul>Seller rating: {{ item.rating }}</ul>
                <ul>Highest bid: ${{ item.highest }}</ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}