{% extends 'base.html' %}
{% block content %}
    <div class="your-item">
        <div class="your-item-image">
            <img src="https://d27jswm5an3efw.cloudfront.net/app/uploads/2019/07/insert-image-html.jpg" alt="" class="specific-item-image">
        </div>
        <div class="your-item-text">
            <h3>Product: <span id="product-name">product name here</span></h3>
            <h3>Condition: <span id="product-condition"></span></h3>
            <span class="product-description">SOME TEXT SOME TEXT SOME TEXT SOME TEXT SOME TEXT SOME TEXT SOME TEXT SOME TEXT SOME TEXT SOME TEXT</span>
        </div>
        <div class="product-offers">
            <h3>Highest Offer: <span id="product-price"></span></h3>
            <button id="accept-highest-offer" type="submit">Accept Highest</button>
        </div>
        <div class="all-offers">
            <h3>All Offers:</h3>
            <div class="lower-offers"><span>$100 from Richard <button type="submit" id="accept-offer">Accept offer</button></span></div>
        </div>
    </div>
{% endblock %}