{% extends 'base.html' %}
{% block content %}
    <div class="your-item">
        <div class="your-item-image">
            <img src="https://d27jswm5an3efw.cloudfront.net/app/uploads/2019/07/insert-image-html.jpg" alt="" class="specific-item-image">
        </div>
        <div class="your-item-text">
            <h3>Product: <span id="product-name">product name here</span></h3>
            <h3>Condition: <span id="product-condition"></span></h3>
            <h3><span class="product-description">SOME TEXT SOME TEXT</span></h3>
        </div>
        <div class="product-offers">

        </div>
    </div>
{% endblock %}