{% extends 'base.html' %}
{% block content %}
    <div class="suggested">
        {% if searched %}
            <p>You searched for {{ searched }}</p>
            <select name="sorting" id="sorting-method">
                <option value="name">sort by name</option>
                <option value="lower-price">sort by lowest price</option>
                <option value="higher-price">sort by highest price</option>
            </select>
            {% for item in frontpage_suggested %}
                <div class="item">
                    <img src="{{ item.image }}" class="sug-img" alt="">
                    <ul>{{ item.name }}</ul>
                    <ul>Seller rating: {{ item.rating }}</ul>
                    <ul>Highest bid: ${{ item.highest }}</ul>
                </div>
            {% endfor %}
        {% else %}
            <p>No item searched for!</p>
        {% endif %}

    </div>
{% endblock %}