{% extends 'base.html' %}
{% block content %}
    <div class="search">
        {% if searched %}
            <p>You searched for {{ searched }}!</p>

            <br>
            {% for item in items %}
                <div class="item">
                    <img src="{{ item.main_image }}" class="sug-img" alt="" id="suggested-image">
                    <ul>Product: {{ item.itemname }}</ul>
                    {% if item.user_id == null %}
                        <ul>User rating: unknown</ul>
                    {% else %}
                        <ul>User rating: {{ item.user.profile.rating }}</ul>
                    {% endif %}
                    <ul>Highest bid: ${{ item.highest_bid }}</ul>
                </div>
            {% endfor %}
        {% else %}
            <p>No item searched for!</p>
        {% endif %}

    </div>
{% endblock %}