{% extends 'base.html' %}
{% block content %}
    <div class="search">
        {% if searched %}
            <p>You searched for {{ searched }}!</p>
            <form class="sort" method="POST">
            <select name="sorting" id="sorting-method">
                <option value="name">sort by name</option>
                <option value="lower-price">sort by lowest price</option>
                <option value="higher-price">sort by highest price</option>
            </select>
            <input type="submit">
            </form>

            <br>
            {% for item in items %}
                <div class="item">
                    <img src="{{ item.main_image }}" class="sug-img" alt="" id="suggested-image">
                    <ul>Product: {{ item.itemname }}</ul>
                    <ul>Highest bid: ${{ item.base_price }}</ul>
                </div>
            {% endfor %}
        {% else %}
            <p>No item searched for!</p>
        {% endif %}

    </div>
{% endblock %}