/* Navbar customisation */
.navbar-custom {
    background-color: royalblue;
}

.navbar-custom .navbar-brand {
    color: black;
    font-size: xx-large;
}
.navbar-custom .navbar-collapse li a{
    color: black;
    font-size: large;
}

.form-group {
    float: left;
    margin-top: 8px;
}

.btn-default {
    float: left;
    margin-left: 2px;
    margin-top: 8px;
}

.rank {
    float: left;
}

/* Sidebar customisation */
.sidenav {
    width: 100px;
    position: fixed;
    left: 0;
    background-color: royalblue;
    margin-top: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 0.5s;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.sidenav p{
    color: black;
    font-weight: bold;
}

.sidenav a{
    float: left;
    color: black;
}

/* Footer customisation */

.footer-custom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: royalblue;
    color: black;
}

.text-reset {
    color: black;
}

/* front page */
.suggested p {
    margin-left: 43px;
    font-weight: bold;
}

.item {
    float: left;
}

.sug-img {
    height: 150px;
    margin-left: 43px;
}

