/* Navbar customisation */
.navbar-custom {
    background-color: royalblue;
}

.navbar-custom .navbar-brand {
    color: black;
    font-size: xx-large;
}
.navbar-custom .navbar-collapse li a{
    color: black;
    font-size: large;
}

.form-group {
    float: left;
    margin-top: 8px;
}

.btn-default {
    float: left;
    margin-left: 2px;
    margin-top: 8px;
}

.rank {
    float: left;
}

/* Footer customisation */

.footer-custom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: royalblue;
    color: black;
}

