<div id="Sidenav" class="sidenav">
    <p>Tags:</p>
    <ul><a href="#">Antiques</a></ul>
    <ul><a href="#">Appliances</a></ul>
    <ul><a href="#">Arts and crafts</a></ul>
    <ul><a href="#">Car parts</a></ul>
    <ul><a href="#">Collectibles</a></ul>
    <ul><a href="#">Computers</a></ul>
    <ul><a href="#">Electronics</a></ul>
    <ul><a href="#">Furniture</a></ul>
    <ul><a href="#">Household</a></ul>
    <ul><a href="#">Instruments</a></ul>
    <ul><a href="#">Jewelery</a></ul>
    <ul><a href="#">Sporting</a></ul>
    <ul><a href="#">Tools</a></ul>
    <ul><a href="#">Toys</a></ul>
    <ul><a href="#">Video games</a></ul>
</div>