<div id="Sidenav" class="sidenav">
    <p>Tags:</p>
    <ul>
        <li><a href="#">Antiques</a></li>
        <li><a href="#">Appliances</a></li>
        <li><a href="#">Arts and crafts</a></li>
        <li><a href="#">Car parts</a></li>
        <li><a href="#">Collectibles</a></li>
        <li><a href="#">Computers</a></li>
        <li><a href="#">Electronics</a></li>
        <li><a href="#">Furniture</a></li>
        <li><a href="#">Household</a></li>
        <li><a href="#">Instruments</a></li>
        <li><a href="#">Jewelery</a></li>
        <li><a href="#">Sporting</a></li>
        <li><a href="#">Tools</a></li>
        <li><a href="#">Toys</a></li>
        <li><a href="#">Video games</a></li>
    </ul>
</div>