{% extends 'base.html' %}
{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <h1 class="checkout-header">Checkout</h1>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#contact-info" data-toggle="tab">Contact Information</a></li>
        <li><a href="#payment" data-toggle="tab">Payment</a></li>
        <li><a href="#rate" data-toggle="tab">Rate seller</a></li>
        <li><a href="#review" data-toggle="tab">Review order</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="contact-info">
            <p>First name:</p>
            <input type="text" class="contact">
            <p>Last Name:</p>
            <input type="text" class="contact">
            <p>Street name:</p>
            <input type="text" class="contact">
            <p>House number:</p>
            <input type="text" class="contact">
            <p>City:</p>
            <input type="text" class="contact">
            <p for="country-name">Country:</p>
            <select name="country" id="country-name" class="contact">
                <option value="iceland">Iceland</option>
                <option value="iceland">South Africa</option>
            </select>
            <p>Postal code:</p>
            <input type="text" class="contact">

        </div>
        <div class="tab-pane" id="payment">
            <p>First name:</p>
            <input type="text" class="contact">
            <p>Last Name:</p>
            <input type="text" class="contact">
            <p>Card number:</p>
            <input type="text" class="contact" maxlength="16">
            <p>Expiration date(dd/mm/yy):</p>
            <input type="text" class="payment">
            <p>CVC:</p>
            <input type="text" class="payment-cvc" maxlength="3">

        </div>
        <div class="tab-pane" id="rate">
            <div class="rate">

                <h6 class="mb-0">Rate your seller(Optional)</h6>

                <div class="rating"> <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                </div>


            </div>
        </div>

        <div class="tab-pane" id="review">
            <p> Product you are purchasing:</p>
            <p>first name:</p>
            <p>last name:</p>
            <p>Street name:</p>
            <p>House name:</p>
            <p>City:</p>
            <p>Country:</p>
            <p>Postal code:</p>
            <p>Paying with card ending with:</p>
            <input type="submit" class="pay" value="Confirm">
        </div>
    </div>

{% endblock %}