{% extends 'base.html' %}
{% block content %}
    <h1>Checkout</h1>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <h1 class="checkout-header">Checkout</h1>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#contact-info" data-toggle="tab">Contact Information</a></li>
        <li><a href="#payment" data-toggle="tab">Payment</a></li>
        <li><a href="#rate" data-toggle="tab">Rate seller</a></li>
        <li><a href="#review" data-toggle="tab">Review order</a></li>
    </ul>

    <form name="myForm" method="POST">
        {% csrf_token %}
        <div class="tab-content">
            <div class="tab-pane active" id="contact-info">
                <p>First name:</p>
                <label for="first-name" id="first-name">{{ form.first_name }}</label>
                <p>Last Name:</p>
                {{ form.last_name }}
                <p>Street name:</p>
                {{ form.street_name }}
                <p>House number:</p>
                {{ form.house_number }}
                <p>City:</p>
                {{ form.city }}
                <p>Country:</p>
                {{ form.country }}
                <p>Postal code:</p>
                {{ form.postal_code }}

            </div>
            <div class="tab-pane" id="payment">
                <p>First name:</p>
                {{ form.payment_first_name }}
                <p>Last Name:</p>
                {{ form.payment_last_name }}
                <p>Card number:</p>
                {{ form.card_number }}
                <p>Expiration date(dd/mm/yy):</p>
                {{ form.card_expiration }}
                <p>CVC:</p>
                {{ form.card_cvc }}

            </div>
            <div class="tab-pane" id="rate">
                <div class="rate">

                    <h6 class="mb-0">Rate your seller(Optional)</h6>
                    {% load ratings %}
                    {% ratings %}
                    </div>


                </div>
            </div>

            <div class="tab-pane" id="review" name="review">
                <span id="check_before_submit"></span>
                <p>first name:</p>
                <p>last name:</p>
                <p>Street name:</p>
                <p>House name:</p>
                <p>City:</p>
                <p>Country:</p>
                <p>Postal code:</p>
                <p>Card number:</p>
                <input type="submit" class="pay" value="Confirm">
            </div>
        </div>

    </form>




{% endblock %}